<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Navigation Bar -->
    <div class="d-flex justify-content-between align-items-center py-2 px-5">
        <h1 class="text-center"></h1>
        <div>
            <a href="/magazine/new" class="btn btn-info">Add Magazine</a>
            <a href="/user/account" class="btn btn-info">Account</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </div>

    <!-- Main Container -->
    <main class="container d-flex justify-content-around text-light">
        <!-- Messages Display Box -->
        <div class="col-6 bg-dark p-4 text-light">
            <div class="my-2">
                <h1 class="mb-4">{{magazine.title}}</h1>
                <div class="card-body">
                    <p>Added by {{magazine.user.first_name}} {{magazine.user.last_name}}</p>
                    <p>Description:</p>
                    <p class="ms-2">{{magazine.description}}</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>